In [1]:
import numpy as np
import pandas as pd 
from sklearn.linear_model import LogisticRegression
from joblib import dump

from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_csv('train_dataset2.csv')
df

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,BEGIN_MONTH,AGES,WORKING_YEAR,TARGET
0,5066558,F,Y,N,1,180000.0,State servant,Secondary special,Married,Municipal apartment,0,0,0,Core staff,3More,7.0,48,4,0
1,5150148,F,N,Y,2More,112500.0,Working,Secondary special,Single / not married,House / apartment,0,0,0,Core staff,3More,29.0,33,10,1
2,5143515,F,N,Y,0,247500.0,Pensioner,Secondary special,Single / not married,House / apartment,0,0,0,Other,1,7.0,63,0,2
3,5112924,F,Y,Y,0,450000.0,Working,Higher education,Married,House / apartment,0,1,0,Managers,2,53.0,48,13,1
4,5061861,M,N,Y,1,180000.0,Commercial associate,Secondary special,Married,House / apartment,0,0,0,Laborers,3More,7.0,28,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29161,5092414,M,Y,Y,0,225000.0,Commercial associate,Secondary special,Married,House / apartment,0,0,1,Laborers,2,16.0,38,6,2
29162,5026096,F,N,Y,0,112500.0,Pensioner,Secondary special,Civil marriage,House / apartment,0,1,0,Other,2,12.0,58,0,2
29163,5113648,F,N,Y,0,225000.0,Working,Incomplete higher,Married,House / apartment,0,0,1,Managers,2,9.0,33,0,2
29164,5087653,F,N,Y,0,135000.0,Pensioner,Secondary special,Widow,House / apartment,0,0,0,Other,1,35.0,67,0,2
29165,5048505,F,Y,Y,0,720000.0,State servant,Higher education,Widow,House / apartment,1,1,0,Core staff,1,12.0,41,14,1

In [3]:
df["CODE_GENDER"] =  df["CODE_GENDER"].replace(['F','M'],[0,1])
df["FLAG_OWN_CAR"] = df["FLAG_OWN_CAR"].replace(["Y","N"],[1,0])
df["FLAG_OWN_REALTY"] = df["FLAG_OWN_REALTY"].replace(["Y","N"],[1,0])

In [4]:
df.drop('ID', axis=1, inplace=True)

In [5]:
names = df.keys()
print(names)

Index(['CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN',
       'AMT_INCOME_TOTAL', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE',
       'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'FLAG_WORK_PHONE',
       'FLAG_PHONE', 'FLAG_EMAIL', 'OCCUPATION_TYPE', 'CNT_FAM_MEMBERS',
       'BEGIN_MONTH', 'AGES', 'WORKING_YEAR', 'TARGET'],
      dtype='object')

In [6]:
types = df.dtypes
print(types)

CODE_GENDER              int64
FLAG_OWN_CAR             int64
FLAG_OWN_REALTY          int64
CNT_CHILDREN            object
AMT_INCOME_TOTAL       float64
NAME_INCOME_TYPE        object
NAME_EDUCATION_TYPE     object
NAME_FAMILY_STATUS      object
NAME_HOUSING_TYPE       object
FLAG_WORK_PHONE          int64
FLAG_PHONE               int64
FLAG_EMAIL               int64
OCCUPATION_TYPE         object
CNT_FAM_MEMBERS         object
BEGIN_MONTH            float64
AGES                     int64
WORKING_YEAR             int64
TARGET                   int64
dtype: object

In [7]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

for i in range(len(types)):
    if types[i] == 'object':
        # Chuyá»ƒn Ä‘á»•i cá»™t thÃ nh chuá»—i náº¿u nÃ³ khÃ´ng pháº£i kiá»ƒu chuá»—i
        df[names[i]] = df[names[i]].astype(str)
        
        le.fit(df[names[i]])
        df[names[i]] = le.transform(df[names[i]])

In [8]:
data = np.array(df.values)
data

array([[ 0.,  1.,  0., ..., 48.,  4.,  0.],
       [ 0.,  0.,  1., ..., 33., 10.,  1.],
       [ 0.,  0.,  1., ..., 63.,  0.,  2.],
       ...,
       [ 0.,  0.,  1., ..., 33.,  0.,  2.],
       [ 0.,  0.,  1., ..., 67.,  0.,  2.],
       [ 0.,  1.,  1., ..., 41., 14.,  1.]])

In [9]:
X = data[:,:-1]
y = data[:,-1]

In [10]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

print('Train:')
print(X_train.shape)
print(y_train.shape)
print('Test:')
print(X_test.shape)
print(y_test.shape)

Train:
(20416, 17)
(20416,)
Test:
(8750, 17)
(8750,)

In [11]:
from sklearn import tree
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train,y_train)


# LÆ°u mÃ´ hÃ¬nh vÃ o má»™t file
dump(clf, 'dt.joblib')

clf_pred = clf.predict(X_test)

print('DT')
print('Accuracy Score is {:.5}'.format(accuracy_score(y_test, clf_pred)))
print(classification_report(y_test, clf_pred))
print(confusion_matrix(y_test, clf_pred))

DT
Accuracy Score is 0.49669
              precision    recall  f1-score   support

         0.0       0.21      0.25      0.23      1074
         1.0       0.58      0.56      0.57      4192
         2.0       0.50      0.50      0.50      3439
         3.0       0.04      0.04      0.04        24
         4.0       0.17      0.08      0.11        13
         5.0       0.00      0.00      0.00         3
         6.0       0.00      0.00      0.00         5

    accuracy                           0.50      8750
   macro avg       0.22      0.20      0.21      8750
weighted avg       0.50      0.50      0.50      8750

[[ 271  406  389    4    2    1    1]
 [ 540 2342 1294    9    1    1    5]
 [ 440 1254 1731   11    2    0    1]
 [   6    8    9    1    0    0    0]
 [   1    4    5    1    1    1    0]
 [   0    0    3    0    0    0    0]
 [   3    2    0    0    0    0    0]]

In [12]:
# Initialize the Logistic Regression model
logistic_model = LogisticRegression()

# Train the model
logistic_model.fit(X_train, y_train)

dump(logistic_model, 'logistic.joblib')

logistic_pred = logistic_model.predict(X_test)

# Evaluate the model
print('Accuracy Score is {:.5}'.format(accuracy_score(y_test, logistic_pred)))
print(classification_report(y_test, logistic_pred))
print(confusion_matrix(y_test, logistic_pred))

Accuracy Score is 0.47909
              precision    recall  f1-score   support

         0.0       0.00      0.00      0.00      1074
         1.0       0.48      1.00      0.65      4192
         2.0       0.00      0.00      0.00      3439
         3.0       0.00      0.00      0.00        24
         4.0       0.00      0.00      0.00        13
         5.0       0.00      0.00      0.00         3
         6.0       0.00      0.00      0.00         5

    accuracy                           0.48      8750
   macro avg       0.07      0.14      0.09      8750
weighted avg       0.23      0.48      0.31      8750

[[   0 1074    0    0    0    0    0]
 [   0 4192    0    0    0    0    0]
 [   0 3439    0    0    0    0    0]
 [   0   24    0    0    0    0    0]
 [   0   13    0    0    0    0    0]
 [   0    3    0    0    0    0    0]
 [   0    5    0    0    0    0    0]]

C:\Users\thanh\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\thanh\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1471: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\thanh\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1471: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\thanh\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1471: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))